:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.stock-badge{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.25rem;
}