<h1 class="text-center">Liste des produits</h1>

<p-button
  label="Créer produit"
  (onClick)="onCreate()"
  class="block text-center"
/>

<p-dataView
  #dv
  [value]="products()"
  [layout]="'grid'"
  [paginator]="true"
  [rows]="6"
>
  <ng-template pTemplate="grid" let-products>
    @for (product of products; track product) {
    <p-card [style]="{ display: 'flex', flexDirection: 'column', justifyContent: 'space-between' , gap: '1rem' }">
      <span class="font-medium text-secondary text-sm mb-4">{{
        product.category
      }}</span>
      <div class="relative mx-auto">
        <img
          [src]="
            'https://primefaces.org/cdn/primeng/images/demo/product/' +
            product.image
          "
          alt="{{ product.name }}"
          class="w-full h-48 object-cover rounded"
          (error)="product.image = 'assets/img/error.jpg'"
        />
        <app-stock-indicator [inventoryStatus]="product.inventoryStatus" />
      </div>
      <ng-template pTemplate="footer">
        <div class="flex justify-between w-full">
          <div class="flex-col justify-between gap-8 w-full">
            <div class="text-md font-medium text-900">
              {{ product.name }}
            </div>
            <span class="text-lg font-semibold text-900"
              >{{ product.price }} €</span
            >
            <app-rating [rating]="product.rating" />
            <p-button
              icon="pi pi-shopping-cart"
              [disabled]="
                product.inventoryStatus === 'OUTOFSTOCK' ||
                product.inventoryStatus === undefined
              "
              class="stock-badge flex whitespace-nowrap mt-4"
              label="Ajouter au panier"
              aria-label="Ajouter au panier"
              size="small"
              severity="contrast"
              (onClick)="onAddToCart(product)"
              [rounded]="true"
            />
          </div>
        </div>
      </ng-template>
    </p-card>
    }
  </ng-template>
</p-dataView>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Ajout/Edition produit"
>
  <app-product-form
    [product]="editedProduct()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
  />
</p-dialog>
